.create-playlist-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-playlist-title {
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

.create-playlist-form {
    width: 60%;
    height: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.create-playlist-btn {
    width: 50%;
    cursor: pointer;
}

.create-playlist-input {
    width: 50%;
}

.create-playlist-file {
    cursor: pointer;
}